@import './mixin';

#carrito {
    padding: 2% 0% 2% 0%;

    .carrito__compra {
        @include grid(1fr 3fr,1fr 1fr, "carrito__compra__img carrito__compra__descripcion"
        "carrito__compra__img carrito__compra__form");

        .carrito__compra__img {
            margin-left: 1rem;
            width: 100%;
            grid-area: carrito__compra__img;

            img {
                width: 90%;
                align-items: center;
            }
        }

        .carrito__compra__descripcion {
            width: 100%;
            grid-area: carrito__compra__descripcion;
            font-size: 1em;

            h2,
            p {
                color: #481414;
            }
        }

        .carrito__compra__form {
            width: 60%;
            @include grid(repeat(3, 1fr),repeat(2, 1fr), "valor carrito__compra__form__btnmas carrito__compra__form__btnmenos"
            "carrito__compra__form__btnpagar carrito__compra__form__btnpagar carrito__compra__form__btnpagar");
            display: grid;
            grid-area: carrito__compra__form;
            font-size: 1em;

            div {
                label {
                    grid-area: valor;
                    color: #481414;
                }

                .carrito__compra__form__btnmenos {
                    width: 10%;
                    grid-area: carrito__compra__form__btnmenos;
                }

                .carrito__compra__form__btnmas {
                    width: 10%;
                    grid-area: carrito__compra__form__btnmas;
                }
            }

            .carrito__compra__form__btnpagar {
                grid-area: carrito__compra__form__btnpagar;
            }

            input {
                background-color: #FFBC0C;
                color: #481414;
                border: #FFBC0C;
            }
        }
    }
}

