@import "./carrito";
@import "./mediaquery";
@import "./login";
@import './mixin';

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

#header {
    grid-area: header;
    @include grid(1fr 6fr 1fr 1fr,1fr,null);
    background-color: #FFBC0C;
    padding: 1% 2% 1% 2%;
    .logo {
        align-items: center;
        a {
            justify-items: center;
            img {
                width: 60%;
                align-items: center;
            }
        }

    }

    .mobile {
        display: none;
        a {
            text-decoration: none;
        }
    }

    nav {
        @include grid(null,null,null);
        justify-items: stretch;

        .menu__direccion {
            grid-area: direccion;
            @include grid(1fr,1fr,"productos"
            "submenu");
            font-size: 1fr;
            position: relative;
            align-items: center;
            font-size: 1em;

            .menu__direccion__submenu {
                display: grid;
                position: absolute;
                top: 10%;
                grid-area: submenu;
                visibility: hidden;
                opacity: 0;
                transition: opacity 1.5s;
                z-index: 2;

                a {
                    text-decoration: none;
                    &:visited {
                        color: #481414;
                    }
                }
            }

            &:hover .menu__direccion__submenu {
                visibility: visible;
                opacity: 1;
            }
        }

        .menu__productos {
            grid-area: productos;
            @include grid(1fr,1fr,"productos"
            "submenu");
            font-size: 1fr;
            position: relative;
            align-items: center;
            justify-items: end;
            font-size: 1em;

            .menu__productos__submenu {
                width: 100%;
                @include grid(1fr,repeat(8, 7fr),null);
                position: absolute;
                top: 10%;
                grid-area: submenu;
                visibility: hidden;
                opacity: 0;
                transition: opacity 1.5s;
                background-color: #FFBC0C;
                border-radius: 0 0 3% 3%;
                z-index: 2;
                font-size: 1em;
                a {
                    text-decoration: none;

                    &:visited {
                        color: #481414;
                    }
                }
            }

            &:hover .menu__productos__submenu {
                visibility: visible;
                opacity: 1;
            }
        }

        .menu__precios {
            grid-area: precios;
            @include grid(1fr,1fr,"precios"
            "submenu");
            font-size: 1fr;
            position: relative;
            align-items: center;
            justify-items: end;
            font-size: 1em;

            .menu__precios_submenu {
                width: 100%;
                @include grid(1fr,repeat(2, 5fr),null);
                position: absolute;
                top: 10%;
                grid-area: submenu;
                visibility: hidden;
                opacity: 0;
                transition: opacity 1.5s;
                background-color: #FFBC0C;
                border-radius: 0 0 5% 5%;
                z-index: 2;
                font-size: 1em;
                a {
                    text-decoration: none;

                    &:visited {
                        color: #481414;
                    }
                }
            }

            &:hover .menu__precios_submenu {
                visibility: visible;
                opacity: 1;
            }
        }

        .menu {
            @include grid(repeat(3, 1fr),1fr,"direccion productos precios");
            display: grid;
            font-size: 1em;
            li {
                color: #481414;
            }
        }
    }

    .icon {
        align-items: center;
        @include grid(null,null,null);

        a {
            justify-items: center;
            @include grid(null,null,null);

            img {
                width: 35%;
                align-items: center;
            }
        }

        .icon__user {
            justify-items: end;
        }
    }


}

#contenido {
    @include grid(1fr,auto 1fr,"productosDestacados" "productos");
    .productosDestacados {
        @include grid(null,null,null);
        grid-area: productosDestacados;

        figure {
            width: 100%;

            img {
                width: 100%;
                height: 600px;

            }
        }

        ;
    }

    .productos {
        @include grid(1fr 1fr,1fr 1fr,"card1 card2");
        grid-area: productos;
        justify-items: stretch;
        align-items: stretch;
        padding: 20px;

        div {
            @include grid(null,null,null);
            column-gap: 1rem;
            row-gap: 1rem;
            height: 100%;
        }

        img {
            width: 100%;
            align-items: center;
            border-radius: 10% 30% 50% 70%;
        }

        .card1,
        .card2,
        .card3,
        .card4 {
            background-color: #FFBC0C;
            justify-items: center;
            @include grid(1fr,3fr auto,"imgfigura"
            "productoContenido");
            grid-area: card1;
            figure {
                grid-area: imgfigura;
            }

            .productoContenido {
                padding: 2% 0% 0% 2%;
                @include grid(1fr 1fr,1fr 1fr,"productoCardTitulo precio"
                "carddescripcion carddescripcion");
                grid-area: productoContenido;
                font-size: 1em;
                color: #481414;

                .productoCardTitulo {
                    grid-area: productoCardTitulo;
                    @include grid(null,null,null);
                    align-items: center;
                }

                .card1__precio {
                    @include grid(null,null,null);
                    align-items: center;
                    justify-content: center;
                    grid-area: precio;
                }

                .card1__descripcion__producto {
                    grid-area: carddescripcion;
                    height: 100%;
                    @include grid(null,null,null);
                    align-items: start;
                }
            }

            border-radius: 2em;
        }
    }
}

#footer {
    @include grid(1fr,3fr 1fr,"footer__contacto" "fotter__redesSociales");
    background-color: #481414;

    .footer__contacto {
        padding-top: 1%;
        color: white;
        @include grid(1fr 1fr,1fr,"footer__contacto1 footer__contacto2");
        grid-area: footer__contacto;

        .footer__contacto1 {
            @include grid(null,null,null);
            grid-area: footer__contacto1;
            justify-items: center;
            align-items: center;
        }

        .footer__contacto2 {
            @include grid(null,null,null);
            grid-area: footer__contacto2;
            justify-items: center;
            align-items: center;

            a {
                text-decoration: none;

                &:visited {
                    color: white;
                }
            }
        }
    }

    .fotter__redesSociales {
        @include grid(1fr 1fr 1fr,1fr,null);
        grid-area: fotter__redesSociales;
        justify-items: end;

        figure {

            justify-items: end;

            img {
                width: 10%;
            }
        }

    }
}